<div class="row">
    <div class="col-xl-12">
        <div class="profile-cover"></div>
        <div class="profile-header">
        <div class="profile-img">
            <img src="/{{img}}" alt="" />
        </div>
        <div class="profile-name">

    
        <h3>{{name}}</h3>
            
        </div>
        </div>
    </div>
    </div> 
    
    <div class="row">
    <div class="col-md-12 col-lg-8">
        <div class="card">
        <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                                
                                {{!-- <form class="row g-3 needs-validation" action="userprofile/save?_csrf={{csrf}}" method="post" enctype="multipart/form-data"> --}}
                                 {{!-- <form action="/userprofile/reg" method="post">
                                <input type="hidden" name="_id" value="{{user._id}}">
                                <input type="hidden" name="_csrf" value="{{csrf}}">
                                    <div class="col-md-4">
                                    <label for="validationCustom01" class="form-label">Имя</label>
                                    <input type="hidden" name="_id">
                                        {{!-- <input type="hidden" name="_id" value="{{users._id}}"> --}}
                                    <input type="text"  class="form-control" name="name" id="validationCustom01"  required="">
                                    </div> --}}
                                    {{!-- <div class="col-md-4">
                                    <label for="validationCustom02" class="form-label">Пароль</label>
                                    <input type="password"  class="form-control" name="password" id="validationCustom02"  required="">
                                    
                                    </div> --}}
                                    {{!-- <div class="col-md-4">
                                    <label for="validationCustomUsername" class="form-label">Почта</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        <input type="mailto"  class="form-control" name="email" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required="">
                                        <div class="invalid-feedback">
                                        Please choose a username.
                                        </div>
                                    </div>
                                    </div> --}}
                                    <div class="col-md-6">
                                    <label for="validationCustom03" class="form-label">Фото админа</label>
                                    <input class="form-control" name="img" type="file" id="img" multiple="">
                                    <div class="invalid-feedback">
                                        Please provide a valid city.
                                    </div>
                                    </div>
                                    <div class="col-12">
                                    </div>
                                    <div class="col-12">
                                            <div class="modal-footer p-0">
                                                <button type="submit" class="btn btn-primary">Изменить</button>
                                            </div>
                                
                                    </div>
                                </form>
                            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-3">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Contact Info</h5>
            <ul class="list-unstyled profile-about-list">
            <li><i class="far fa-envelope m-r-xxs"></i><span
                >{{email}}</span></li>
            <li><i class="far fa-compass m-r-xxs"></i><span>Lives in
                <a href="#">San Francisco, CA</a></span></li>
            <li><i class="far fa-address-book m-r-xxs"></i><span>+1 (678) 290 1680</span></li>
            </ul>
        
        </div>
    </div>
</div>

{{#if error}}
<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-5 col-md-5">
        <div class="card bg-danger text-white shadow">
            <div class="card-body">{{error}}</div>
        </div>
    </div>
</div>
{{/if}}
{{#if success}}
<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-5 col-md-5">
        <div class="card bg-success text-white shadow">
            <div class="card-body">{{success}}</div>
        </div>
    </div>
</div>
{{/if}}
{{!-- <form  action="userprofile/save?_csrf={{csrf}}" method="post" enctype="multipart/form-data"  >
    <div class="row">
        <div class="col-lg-3">
            <input type="hidden" name="_id" value="{{user._id}}">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <img src="/{{user.img}}" alt="" style="width:100% ;">
            <label for="">
                <b>Yangi avatar yuklash</b>
                <input type="file" name="img">
            </label>
        </div>

        <div class="col-lg-8">
            <div class="row aligin-items-center mb-2">
                <div class="col-lg-2">
                    <span class="mr-2">Ismi:</span>
                </div>
                <div class="col-lg-8">
                    <input type="text" class="form-control form-control-user" name="name" value="{{user.name}}">
                </div>
            </div>


            <div class="row aligin-items-center mb-2">
                <div class="col-lg-2">
                    <span class="mr-2">Familiyasi:</span>
                </div>
                
            </div>

          
        </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-success">O'zgarishlarni Saqlash</button>
</form> --}}